.container {
    padding: 2rem 0rem;
    text-align: center;
}

.table-striped {
    border: 1px solid rgb(214, 207, 207);
}

.plus {
    text-align: right;
}

.gg-radio {
    padding: 5px;
    display: inline-flex;
}

.gg-btn {
    margin: 5px;
}