<div class="container">

    <div class="row plus">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <button type="button" class="btn btn-success" (click)="onCreate()">
                <fa-icon [icon]="faPlus"></fa-icon>
                Add new machine
            </button>
        </div>
    </div>
    <br>

    <table class="table table-striped">
        <caption>Máquinas cadastradas</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">IP</th>
                <th scope="col">Port</th>
                <th scope="col">Hostname</th>
                <th scope="col">System</th>
                <th scope="col">Password</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let machine of machines; index as i">
                <th scope="row">{{ machine.id }}</th>
                <td>{{ machine.ip }}</td>
                <td>{{ machine.port }}</td>
                <td>{{ machine.hostname }}</td>
                <td>{{ machine.system }}</td>
                <td>{{ machine.password }}</td>
                <td>
                    <button type="button" class="btn btn-success gg-btn" (click)="onView(machine.ip)">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </button>
                    <button type="button" class="btn btn-success gg-btn"
                        style="background-color: #673ab7; border-color: #673ab7;" (click)="onEdit(machine.id)">
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </button>
                    <button type="button" class="btn btn-danger gg-btn"
                        style="background-color: #ffd740; border-color: #ffd740; color: #000000;"
                        (click)="onDelet(machine)">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [value]="2">2 items per page</option>
            <option [value]="4">4 items per page</option>
            <option [value]="6">6 items per page</option>
        </select>
    </div>
</div>